html, body
{
    height: 100%;
}

.fa-inverse {
    color: #121212;
}

.bg-img {
    background: #666;
}

.bg-oma {
    background-image: url("/img/oma.jpg");
    background-position-x: 75%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: height .3s;
    transition-delay: 0s;
    height: 100vh;
}

a.btn-img > img {
    transition: opacity 0.3s;
}

a.btn-img:hover > img {
    opacity: 0.75;
}

a.masonry-filter > img {
    transition: opacity 0.3s;
    opacity: 0.5;
}

a.masonry-filter:hover > img {    
    opacity: 0.75;
}

a.masonry-filter.active > img {    
    opacity: 1.0;
}
a.masonry-filter.active:hover > img {
    opacity: 0.75;
}


.list-footer > .list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

/* Navbars */
.topbar {
    min-height: 100px;
    max-height: 100px;
    transition: margin-top .3s;
    transition-delay: 0s;
    margin-top: -100px;
    overflow-x: hidden;
}

.sidebar {
    min-width: 200px;
    max-width: 200px;
    transition: margin-left .3s;
    transition-delay: .3s;
    margin-left: 0;
}

@media(max-width: 1200px) {
    .topbar {
        transition-delay: .3s;
        margin-top: 0;
    }

    .sidebar {
        transition-delay: 0s;
        margin-left: -200px;
    }

    .bg-oma {
        transition-delay: .3s;
        height: calc(100vh - 100px);
    }
}
