html, body
{
    height: 100%;
}

.fa-inverse {
    color: #121212;
}

.bg-img {
    background: #666;
}

.bg-oma {
    background-image: url("/img/oma.jpg");    
    background-position-x: 75%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

/* Navbars */
/*
.topbar {
    height: 100px;
}*/

.topbar {
    min-height: 110px;
    max-height: 110px;
    transition: margin-top .3s;
    margin-top: -110px;
}

.sidebar {
    min-width: 354px;
    max-width: 354px;
    transition: margin-left .3s;
    margin-left: 0;
}

@media(max-width: 1200px) {
    .topbar {
        margin-top: 0;
    }

    .sidebar {
        margin-left: -354px
    }
}
