@section Styles
{
    <link rel="stylesheet" href="/lib/pageflip5/css/pageflip.css">
    <link rel="stylesheet" href="/lib/pageflip5/css/pageflip-custom.css">
}

@section Scripts
{
    <script src="/lib/pageflip5/js/pageflip5-min.js"></script>
    <script src="/lib/pageflip5/js/key.js"></script>
    <script src="/js/book.js"></script>
}

<partial name="_Book"/>


<div class="bg-primary text-dark">
    <div class="container p-5">
        <h1>Bacon ipsum</h1>
        <p>Bacon ipsum dolor amet meatloaf porchetta burgdoggen tenderloin doner pig bacon filet mignon andouille cow capicola jerky. Hamburger buffalo tenderloin, strip steak rump sirloin short loin capicola fatback ribeye pork shank. Doner fatback pork loin picanha prosciutto, sausage ham hock biltong cupim andouille porchetta beef sirloin. Strip steak t-bone ham turkey sirloin, doner boudin chislic filet mignon short loin pork loin venison fatback. Turkey leberkas flank capicola t-bone bacon ground round ball tip frankfurter pancetta. Ball tip frankfurter tail, sausage pork chop drumstick brisket venison.</p>
    </div>
</div>


<div class="container p-5">
    <h1>Masonry</h1>
    <p>Bacon ipsum dolor amet meatloaf porchetta burgdoggen tenderloin doner pig bacon filet mignon andouille cow capicola jerky. Hamburger buffalo tenderloin, strip steak rump sirloin short loin capicola fatback ribeye pork shank. Doner fatback pork loin picanha prosciutto, sausage ham hock biltong cupim andouille porchetta beef sirloin. Strip steak t-bone ham turkey sirloin, doner boudin chislic filet mignon short loin pork loin venison fatback. Turkey leberkas flank capicola t-bone bacon ground round ball tip frankfurter pancetta. Ball tip frankfurter tail, sausage pork chop drumstick brisket venison.</p>
</div>

<partial name="_Masonry"/>